<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Video Feed</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Video Feed</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="child-feed">
    @for(channel of channels; track channel.channelId) {
    <div class="child-feed__channel-container">
      <h2>{{channel.videos[0].snippet.channelTitle}}</h2>
      <div class="child-feed__channel-videos">
        @for (video of channel.videos; track video.id.videoId) {
        <div class="child-feed__card-container">
          <ion-card [button]="true" [routerLink]="`/video/${video.id.videoId}`">
            <img
              [src]="video.snippet.thumbnails.medium.url"
              alt="video thumbnail"
            />
            <ion-card-header>
              <ion-card-subtitle color="secondary"
                >{{video.snippet.channelTitle}}</ion-card-subtitle
              >
              <ion-card-title>{{video.snippet.title}}</ion-card-title>
            </ion-card-header>
            <ion-card-content> {{video.snippet.description}} </ion-card-content>
          </ion-card>
        </div>
        }
      </div>
    </div>
    }
    <div class="child-feed__status-container">
      @if(error){
      <ion-text color="danger">
        <p>Error loading videos. Please try again later.</p>
      </ion-text>
      } @if(loading){
      <ion-spinner name="crescent"></ion-spinner>
      }
    </div>
  </div>
</ion-content>
