.child-feed {
  
  margin: 0 auto;
  max-width: 1320px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  &__card-container{
    max-width: 320px;
  }
}

ion-toolbar{
  text-align: center;
}
