.child-feed {
  margin: 0 auto;
  max-width: 1320px;

  &__channel-container {
    display: flex;
    flex-direction: column;
    gap: 8px;

    h2 {
      margin-inline: 10px;
    }
  }

  &__channel-videos {
    display: flex;
    flex-wrap: wrap;
  }

  &__card-container {
    max-width: 320px;
  }

  &__status-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
  }
}

ion-toolbar {
  text-align: center;
}
